<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "The Middleman" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "style" %>
    <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,600|Merriweather:400,700' rel='stylesheet' type='text/css'>
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <% # Filament App SingleDrop Code Snippet %>
    <script type="text/javascript">
      (function() {
        var fl = document.createElement('script'); fl.type = 'text/javascript'; fl.async = true;
        fl.src = document.location.protocol + '//filamentapp.s3.amazonaws.com/bd5217156e98ab3427d1d4b0b46bd225.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fl, s);
      })();
    </script>

  </head>
  <body class="<%= page_classes %> individual-episode">
    <!-- <div class="hero-img"></div> -->
    <header>
      <a id="logo" href="/">Dt tv</a>
      <div class="connect">
        <div class="yt-sub-wrap">
          <script src="https://apis.google.com/js/plusone.js"></script>
          <div class="g-ytsubscribe yt-sub" data-channelid="UCJ3zcpYPy2QpqSF5Oq1FvXw" data-layout="default" data-theme="dark"></div>
        </div>
        <a class="follow" href="http://twitter.com/dt_tv" target="_blank"><i class="fa fa-twitter"></i> @DT_tv</a>
      </div>
    </header>

    <div role="main">
      <article class="container">
        <div class="fve-video-wrapper">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%= current_page.data.youtube_id %>?wmode=transparent&amp;modestbranding=1&amp;autohide=1&amp;showinfo=0&amp;rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <h2><%= current_page.title %></h2>
        <%= yield %>
      </article>

    </div><!-- End role=main -->

    <footer class="clearfix">
      <div class="footer-inner">
        <p>&copy; 2013 <a href="http://www.dtelepathy.com">Digital Telepathy</a></p>
        <ul>
          <li><a href="https://filament.io/" target="_blank">Filament</a></li>
          <li><a href="http://www.dtelepathy.com/blog">Betterment Blog</a></li>
          <li><a href="http://www.dtelepathy.com/contact">Contact</a></li>
      </div>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <%= javascript_include_tag  "plugins" %>
    <%= javascript_include_tag  "all" %>

  </body>
</html>