<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "The Middleman" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "style" %>
    <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,600|Merriweather:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body class="<%= page_classes %>">
    <div class="hero-img"></div>
    <header>
      <a id="logo" href="./">Dt tv</a>
      <a class="follow" href="http://twitter.com/dt_tv" target="_blank"><i class="icon-twitter"></i> @DT_tv</a>
    </header>

    <div role="main">

      <%= yield %>

      <div class="show-meta clearfix container">
        <h4>What is DT tv?</h4>
        <p>Think of this show like your design industry Happy Hour. We'll be talking about anything you might find yourself talking about over drink at web conferences, breweries or your after work pub of choice. Tweet us <a href="http://twitter.com/DT_tv" target="_blank">@DT_tv</a> to let us know what you think or suggest topics for the show.</p>
      </div>

    </div><!-- End role=main -->

    <footer class="clearfix">
      <div class="footer-inner">
        <p>&copy; 2013 <a href="http://www.dtelepathy.com">Digital Telepathy</a></p>
        <ul>
          <li><a href="https://filament.io/" target="_blank">Filament</a></li>
          <li><a href="http://www.dtelepathy.com/blog">Betterment Blog</a></li>
          <li><a href="http://www.dtelepathy.com/contact">Contact</a></li>
      </div>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <%= javascript_include_tag  "plugins" %>
    <%= javascript_include_tag  "all" %>

    <!-- begin GA -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30039-1']);
      _gaq.push(['_setDomainName', 'dtelepathy.dev']);
      _gaq.push(['_addIgnoredRef', 'www.slidedeck.com']);
      _gaq.push(['_addIgnoredRef', 'developers.slidedeck.com']);
      _gaq.push(['_addIgnoredRef', 'www.arrrows.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      
      // Cohorts Setup
      var cohort_name = document.location.href.match(/cohort_name=[a-zA-Z0-9\-_]+/g);
      if( cohort_name ){
        _gaq.push(['_setCustomVar', 1, 'Cohort Name', cohort_name[0].split('=')[1], 1]);
      }
      var cohort_year = document.location.href.match(/cohort_year=[a-zA-Z0-9\-_]+/g);
      if( cohort_year ){
        _gaq.push(['_setCustomVar', 2, 'Cohort Year', cohort_year[0].split('=')[1], 1]);
      }
      var cohort_month = document.location.href.match(/cohort_month=[a-zA-Z0-9\-_]+/g);
      if( cohort_month ){
        _gaq.push(['_setCustomVar', 3, 'Cohort Month', cohort_month[0].split('=')[1], 1]);
      }
      var cohort_variation = document.location.href.match(/cohort_variation=[a-zA-Z0-9\-_]+/g);
      if( cohort_variation ){
        _gaq.push(['_setCustomVar', 4, 'Cohort Variation', cohort_variation[0].split('=')[1], 1]);
      }

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- end GA -->
  </body>
</html>
