<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= current_page.data.title || "The Middleman" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "style" %>
    <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,600|Merriweather:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body class="<%= page_classes %>">
    <div class="hero-img"></div>
    <header>
      <h1><a href="#">Dt tv</a></h1>
      <a class="follow" href="http://twitter.com/dt_tv"><i class="icon-twitter"></i> @DT_tv</a>
    </header>

    <div role="main">

      <%= yield %>

      <div class="show-meta clearfix container">
        <h4>What is DT tv?</h4>
        <p>Think of this show like your design industry Happy Hour. We'll be talking about anything you might find yourself talking about over drink at web conferences, breweries or your after work pub of choice. Tweet us <a href="http://twitter.com/DT_tv">@DT_tv</a> to let us know what you think or suggest topics for the show.</p>
      </div>

    </div><!-- End role=main -->

    <footer class="clearfix">
      <div class="footer-inner">
        <p>&copy; 2013 <a href="#">Digital Telepathy</a></p>
        <ul>
          <li><a href="#">Filament</a></li>
          <li><a href="#">Betterment Blog</a></li>
          <li><a href="#">Contact</a></li>
      </div>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <%= javascript_include_tag  "plugins" %>
    <%= javascript_include_tag  "all" %>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
