---
title: Welcome to DT TV
---
      <section class="current-episode clearfix">
        <div class="current-episode-inner">
          <div class="video clearfix">
            <div class="fve-video-wrapper">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/k8b4qYEJEi8?wmode=transparent&amp;modestbranding=1&amp;autohide=1&amp;showinfo=0&amp;rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="video-meta container">
            <p class="date">October 15, 2013</p>
            <h2><%= link_to page_articles.first.title, page_articles.first %></h2>
            <div class="episode-summary"><%= page_articles.first.summary %></div>
            <i class="fa fa-file-text-o"></i> <%= link_to "#{page_articles.first.title} Show notes", page_articles.first %>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>

      <section class="past-episodes container">
        <% page_articles.each_with_index do |article, i| %>
          <% if i > 0 %>
            <article>
              <!-- <p class="date"><%= article.date.strftime('%b %e %Y') %></p> -->
              <h3><%= link_to article.title, article %></h3>
              <!-- use article.summary(250) if you have Nokogiri available to show just
              the first 250 characters -->
              <%= article.summary %>
              <i class="fa fa-youtube-play fa fa-lg"></i> <%= link_to 'View Episode', article %>
            </article>
          <% end %>
        <% end %>
      </section>